In [1]:
from datetime import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

In [2]:
# Load the loan dataset
X_train = pd.read_csv("raw_data\X_train.csv")
X_test = pd.read_csv("raw_data\X_test.csv")

#### Question 1

In [3]:
# (1) What is the percentage of default ("bad") loans for the Connecticut ZIP codes in 
# the test sample (X_train.csv)*?
# 0
# 17.5
# 0.17
# 0.18

In [4]:
# condition state = connecticut & bad
condition = (X_train['addr_state'] == 'CT') & (X_train['zip_code'])
connecticut = X_train.loc[condition]
connecticut = connecticut.loc[:, ['addr_state', 'zip_code']]
connecticut

# percentage

        addr_state zip_code
98              CT    064xx
193             CT    060xx
218             CT    064xx
277             CT    067xx
324             CT    060xx
...            ...      ...
1199284         CT    064xx
1199364         CT    063xx
1199390         CT    060xx
1199451         CT    060xx
1199818         CT    060xx

[18171 rows x 2 columns]

#### Question 2

In [5]:
# (2) Choose the correct statements:* --> MCQ
# [.] 1. In the test sample, there are 3 times more loans issued for 3 years than for 5 years
# 2. Median interest rate in train (X_train.csv) 16.29%
# 3. The last loan was issued in August 2020
# 4. Default for the top 10% is higher than the rest

In [6]:
# extract the month from issue_d
X_train['issue_month'] = X_train['issue_d'].apply(lambda x: int(datetime.strptime(x.split('-')[0],'%b').month))

In [7]:
# extract the year from issue_d
X_train['issue_year'] = X_train['issue_d'].apply(lambda x: int(datetime.strptime(x.split('-')[1],'%Y').year))

In [14]:
# term 
X_train.term.unique()

array([' 36 months', ' 60 months'], dtype=object)

In [9]:
# loans issued for 3 years (36 months) and for 5 years (60 months)
loan_term = X_train['term'].value_counts()
# type(loan_term)
loan_term
# loan_term[1]

 36 months    903699
 60 months    296162
Name: term, dtype: int64

In [10]:
# 1. In the test sample, there are 3 times more loans issued for 3 years than for 5 years
print(903699/296162)

3.0513671571639844

In [15]:
# term mapping
X_train.int_rate.unique()

array([' 12.99%', ' 10.42%', '  8.99%', ' 11.53%', ' 26.30%', ' 12.12%',
       ' 14.65%', ' 13.59%', '  8.18%', ' 13.49%', ' 24.50%', ' 15.31%',
       ' 18.99%', ' 17.57%', ' 13.11%', '  6.24%', ' 13.33%', ' 11.99%',
       ' 13.67%', '  5.32%', '  6.03%', ' 14.49%', ' 14.99%', ' 13.56%',
       '  8.24%', ' 24.99%', '  9.49%', '  6.89%', ' 14.31%', ' 12.39%',
       '  9.16%', '  7.89%', ' 13.68%', '  9.17%', ' 12.49%', ' 10.64%',
       ' 11.49%', ' 14.09%', ' 12.85%', ' 13.98%', '  8.90%', ' 13.53%',
       ' 14.47%', ' 16.99%', '  8.46%', '  6.46%', ' 12.69%', ' 11.39%',
       ' 12.79%', ' 15.80%', ' 21.45%', ' 11.44%', ' 10.99%', ' 12.62%',
       ' 20.99%', ' 18.25%', '  8.67%', ' 15.41%', ' 11.47%', '  7.99%',
       ' 23.05%', ' 10.49%', '  8.59%', ' 14.08%', ' 15.05%', ' 10.16%',
       ' 22.45%', '  9.99%', ' 10.41%', ' 10.47%', ' 12.73%', '  7.26%',
       ' 16.02%', ' 15.59%', ' 11.71%', ' 12.35%', ' 13.99%', ' 22.99%',
       ' 22.39%', '  9.43%', ' 15.61%', ' 12.98%', '  6.62%', '  7.59%',
       ' 13.06%', ' 17.19%', '  8.39%', '  9.93%', ' 19.89%', '  6.67%',
       ' 11.14%', ' 23.63%', '  7.49%', '  8.19%', '  7.97%', ' 14.33%',
       '  7.90%', ' 16.55%', ' 20.00%', ' 19.52%', ' 21.00%', ' 11.67%',
       ' 10.78%', ' 16.49%', ' 19.92%', '  6.68%', ' 15.02%', ' 14.16%',
       ' 12.29%', ' 10.15%', ' 17.74%', ' 23.28%', '  9.92%', '  7.35%',
       '  6.92%', ' 26.24%', ' 20.20%', '  6.19%', ' 13.23%', '  9.75%',
       ' 16.14%', ' 11.80%', ' 18.49%', ' 18.45%', ' 23.43%', ' 12.40%',
       ' 16.46%', ' 13.18%', ' 17.99%', ' 15.99%', ' 13.65%', ' 11.02%',
       ' 12.59%', '  7.69%', '  6.11%', ' 19.99%', ' 11.55%', ' 27.27%',
       ' 19.03%', ' 28.18%', '  7.46%', ' 19.19%', ' 25.99%', ' 19.47%',
       ' 15.49%', ' 15.22%', ' 19.05%', '  9.44%', ' 18.06%', ' 13.61%',
       ' 19.22%', ' 10.75%', '  7.91%', '  9.67%', ' 15.24%', '  7.07%',
       ' 11.48%', ' 14.30%', '  7.39%', '  6.97%', ' 30.79%', '  9.80%',
       ' 27.79%', ' 16.32%', ' 10.33%', '  9.76%', ' 17.86%', ' 24.08%',
       '  7.12%', '  7.24%', ' 19.72%', ' 16.20%', ' 18.54%', ' 22.15%',
       ' 17.47%', ' 15.77%', '  8.81%', ' 16.78%', ' 11.06%', ' 16.29%',
       ' 21.85%', ' 11.31%', '  7.51%', ' 12.13%', ' 13.35%', ' 19.24%',
       '  7.21%', ' 21.48%', ' 18.75%', '  7.02%', ' 10.72%', ' 12.74%',
       '  6.99%', ' 24.11%', ' 10.19%', ' 17.27%', '  9.58%', ' 14.46%',
       ' 30.99%', ' 17.77%', ' 27.88%', ' 12.05%', '  6.72%', '  6.49%',
       ' 26.31%', ' 24.70%', ' 18.84%', ' 20.39%', ' 10.91%', ' 15.04%',
       ' 25.83%', '  7.56%', ' 17.49%', ' 29.99%', ' 15.10%', ' 13.44%',
       ' 28.14%', ' 18.24%', ' 29.69%', ' 17.97%', ' 14.85%', ' 14.64%',
       ' 21.49%', ' 17.09%', ' 26.77%', '  8.38%', '  7.66%', ' 23.99%',
       '  8.08%', ' 21.99%', ' 13.58%', ' 25.00%', '  5.31%', ' 14.74%',
       ' 25.44%', ' 14.03%', ' 16.12%', ' 19.42%', ' 10.08%', ' 20.50%',
       ' 11.12%', ' 21.18%', ' 25.82%', ' 12.42%', '  8.49%', ' 19.20%',
       ' 14.52%', ' 18.85%', ' 20.75%', ' 18.55%', ' 11.22%', ' 24.85%',
       ' 13.80%', ' 23.13%', ' 28.99%', ' 22.74%', ' 21.15%', '  6.39%',
       ' 10.74%', ' 13.85%', '  6.07%', '  7.62%', ' 20.49%', ' 13.05%',
       ' 13.08%', ' 19.48%', '  7.84%', '  5.79%', ' 17.56%', ' 20.31%',
       ' 21.60%', ' 14.07%', ' 18.94%', ' 16.91%', ' 25.49%', ' 22.20%',
       ' 16.40%', ' 18.92%', ' 21.28%', ' 17.14%', ' 17.76%', ' 21.97%',
       ' 15.88%', ' 23.88%', ' 30.17%', '  6.08%', '  6.71%', ' 25.57%',
       ' 11.05%', ' 14.98%', ' 25.80%', '  5.93%', ' 20.89%', ' 10.90%',
       ' 21.36%', ' 12.88%', ' 13.87%', ' 12.61%', '  7.34%', ' 21.98%',
       ' 17.10%', ' 10.59%', ' 21.70%', ' 10.65%', ' 24.49%', ' 25.69%',
       '  9.32%', ' 16.24%', ' 25.81%', '  7.96%', '  9.71%', ' 14.48%',
       ' 26.49%', ' 30.84%', ' 23.40%', ' 10.56%', ' 15.57%', ' 16.59%',
       ' 20.55%', ' 25.88%', ' 13.66%', ' 26.06%', ' 20.80%', ' 19.53%',
       '  8.94%', '  7.88%', ' 22.91%', ' 12.21%', ' 24.89%', ' 22.47%',
       ' 12.68%', '  9.25%', ' 21.74%', '  9.62%', ' 28.72%', ' 14.79%',
       ' 28.69%', ' 11.98%', ' 12.22%', ' 14.42%', ' 18.20%', ' 13.57%',
       '  6.00%', ' 13.90%', ' 16.00%', ' 23.50%', ' 28.80%', ' 10.07%',
       ' 16.77%', ' 24.74%', '  9.63%', '  8.00%', ' 24.37%', ' 14.38%',
       ' 30.49%', ' 15.65%', ' 25.28%', ' 11.26%', ' 30.65%', ' 25.29%',
       ' 23.32%', ' 11.89%', ' 22.40%', ' 24.24%', ' 16.01%', ' 22.50%',
       ' 14.35%', ' 27.49%', ' 21.67%', ' 16.69%', '  6.54%', ' 22.35%',
       ' 10.36%', '  7.14%', '  5.99%', ' 22.90%', ' 24.84%', ' 30.94%',
       ' 23.83%', ' 14.62%', '  6.17%', ' 23.87%', '  8.60%', ' 25.34%',
       '  9.91%', ' 12.53%', ' 25.65%', '  7.29%', ' 10.25%', ' 11.36%',
       ' 11.86%', ' 10.00%', ' 26.14%', ' 13.72%', ' 26.99%', ' 12.18%',
       ' 12.23%', ' 27.31%', '  5.42%', ' 15.81%', ' 28.34%', ' 22.11%',
       ' 22.70%', '  7.40%', ' 15.33%', '  6.83%', ' 18.62%', ' 30.74%',
       ' 17.43%', ' 13.92%', ' 30.89%', ' 19.97%', ' 29.49%', ' 15.27%',
       ' 16.95%', '  6.91%', ' 22.95%', ' 25.89%', ' 15.68%', ' 14.96%',
       ' 23.10%', ' 13.43%', ' 19.36%', ' 15.21%', ' 18.79%', ' 28.92%',
       ' 30.75%', ' 11.11%', ' 23.70%', ' 26.57%', ' 12.84%', ' 13.16%',
       '  7.74%', ' 18.30%', ' 28.67%', ' 14.27%', ' 18.64%', ' 29.35%',
       ' 19.12%', ' 15.58%', ' 13.79%', ' 16.35%', ' 14.26%', ' 14.17%',
       ' 16.45%', '  8.88%', ' 14.91%', ' 15.40%', ' 23.76%', ' 10.81%',
       '  7.68%', ' 14.83%', ' 25.78%', ' 10.37%', ' 25.09%', ' 17.93%',
       ' 18.39%', ' 13.55%', ' 19.69%', ' 14.72%', ' 12.09%', ' 14.11%',
       ' 10.38%', ' 17.51%', '  7.43%', ' 11.97%', ' 27.34%', ' 15.20%',
       ' 28.88%', ' 24.83%', ' 14.22%', ' 22.78%', ' 25.11%', ' 12.17%',
       ' 14.61%', ' 18.17%', ' 16.70%', ' 17.58%', ' 17.88%', ' 15.95%',
       ' 11.28%', ' 17.15%', ' 16.63%', '  9.20%', ' 10.62%', ' 14.59%',
       ' 19.91%', ' 15.96%', ' 15.70%', ' 13.48%', '  9.56%', ' 23.33%',
       ' 15.23%', '  7.75%', ' 11.83%', ' 22.06%', '  8.32%', '  7.37%',
       ' 16.89%', ' 29.67%', ' 28.49%', ' 10.95%', '  9.64%', ' 24.20%',
       ' 15.62%', ' 13.22%', ' 17.80%', ' 29.96%', ' 20.30%', ' 11.03%',
       ' 12.87%', ' 17.39%', ' 14.54%', ' 19.13%', '  9.96%', '  9.38%',
       ' 20.62%', ' 13.24%', ' 17.46%', ' 22.85%', '  8.70%', ' 11.78%',
       ' 17.06%', ' 23.52%', ' 13.47%', '  6.76%', ' 15.28%', '  9.88%',
       ' 29.00%', ' 10.83%', ' 11.54%', ' 21.22%', ' 17.30%', '  9.45%',
       '  9.02%', ' 19.95%', ' 19.41%', ' 14.50%', ' 15.37%', '  9.51%',
       ' 12.80%', ' 11.46%', ' 11.66%', ' 19.29%', ' 27.99%', ' 18.43%',
       ' 28.95%', ' 10.96%', ' 11.58%', ' 14.71%', ' 20.25%', ' 15.83%',
       ' 20.16%', ' 17.04%', ' 16.82%', ' 16.07%', ' 20.85%', ' 12.04%',
       ' 21.14%', ' 24.33%', ' 10.39%', ' 18.21%', ' 14.84%', ' 20.69%',
       '  7.05%', ' 28.97%', ' 11.34%', ' 20.40%', ' 17.26%', ' 16.08%',
       ' 10.28%', ' 22.94%', ' 12.41%', ' 22.48%', '  9.01%', ' 23.26%',
       ' 11.41%', '  9.07%', ' 14.02%', ' 10.20%', ' 20.11%', ' 20.74%',
       ' 12.36%', ' 20.48%', ' 17.03%', ' 13.30%', ' 12.92%', ' 12.67%',
       ' 11.72%', ' 14.75%', '  8.07%', ' 21.27%', ' 10.14%', ' 10.71%',
       ' 11.09%', ' 10.01%', '  8.63%', ' 20.03%', ' 19.04%', ' 19.16%',
       ' 19.79%', ' 20.90%', ' 11.63%', ' 23.91%', ' 10.51%', ' 15.45%',
       ' 14.18%', ' 10.46%', ' 18.09%', ' 19.74%', ' 24.76%', ' 13.84%',
       '  9.33%', ' 12.86%', ' 20.53%', ' 17.34%', ' 14.93%', ' 18.67%',
       ' 20.86%', '  9.70%', ' 12.72%', ' 23.22%', ' 28.90%', ' 24.52%',
       ' 12.54%', ' 11.91%', ' 13.12%', ' 15.76%', ' 13.04%', ' 22.64%',
       ' 16.11%', ' 23.59%', ' 18.07%', ' 14.67%', ' 13.93%', ' 18.91%',
       '  9.83%', ' 14.77%', ' 15.25%', ' 11.59%', ' 21.21%', ' 17.50%',
       ' 17.44%', ' 19.66%', ' 21.59%', ' 15.29%', ' 13.17%', ' 14.82%',
       ' 19.39%', ' 20.77%', ' 15.13%', ' 13.36%', ' 20.17%', ' 21.64%',
       ' 18.72%', ' 11.16%', ' 21.82%', ' 18.53%', '  7.42%', ' 13.62%',
       ' 18.78%', ' 14.12%', ' 17.54%', ' 19.82%', ' 14.88%', ' 15.01%',
       ' 16.33%', ' 15.38%', ' 13.75%'], dtype=object)

In [19]:
# convert first to float
X_train['int_rate'] = X_train['int_rate'].str.replace(" ", "").str.replace("%", "").astype('float')
X_train['int_rate'].value_counts()

10.99    28586
11.99    27545
5.32     27417
13.99    25416
11.49    19940
         ...
15.13        1
17.50        1
19.16        1
17.44        1
13.75        1
Name: int_rate, Length: 669, dtype: int64

In [13]:
# 2. Median interest rate in train (X_train.csv) 16.29%
# X_train['int_rate'].median()

TypeError: could not convert string to float: ' 12.99%'

#### Question 3

In [6]:
# (3) For defaulted loans in train versus non-defaulted, tick the correct answers 
# (use t-test if necessary):*
# 1. The share of problem accounts (i.e. acc_now_delinq>0) is approximately the same (for defaulted and non-defaulted loans)
# 2. The lower threshold from the credit bureau (fico_range_low) is not significantly different for bad and good
# 3. Bad and good do not differ in the difference between the average amount requested and approved
# 4. Shares of missing values â€‹â€‹in mths_since_recent_bc_dlq for bad and good differ significantly
# There is no such number here.

#### Question 4

In [7]:
# (4) Check the correct statements:*
# 1. It is necessary to carry out income verification (see verification_status values). 
#     it affects the probability of default
# 2. Those who have had their income verified have more income
# 3. Those who have had their income verified have less default
# 4. Income verification and (loan_amnt - funded_amnt) have a significant (>0.5) 
#     positive correlation

#### Question 5

In [ ]:
# (5) By how much will the default rate decrease if it is issued only to those who 
# have at least one mortgage (mort_acc > 0) and an acceptable debt-to-income ratio 
# (dti < 0.3). What are the correct answers?*
# 0.049
# 0.5%
# 5%
# 25%

#### Question 6

In [8]:
# (6) For further questions, you need to split the training sample into two, so that 
# you learn on one and check the quality on the other. Use X_train2, X_test2, y_train2, 
# y_test2 = train_test_split(X_train, y_train, test_size=0.33, random_state=100).

# Using sklearn and one hot encoding transformation of categorical features where the 
# number of categories is less than 15, build a decision tree with default parameters 
# (if necessary, fill in the gaps with -999) on X_train2.

# Correct statements:
# *
# 1. The first feature in the tree changes when you set max_depth=2
# 2. Second feature = funded_amnt in the tree with max_depth=2
# 3. Tree with unlimited max_depth and random_state=0 gives quality on y_test2 0.28 Gini
# 4. Tree with limited max_depth = 10 and random_state=0 gives quality on y_train2 0.285 Gini

#### Question 7

In [ ]:
# (7) Plot a random forest from sklearn on the features prepared for the tree (X_train2). 
# Use Gini (and y_test2) as a measure of quality. 

# Choose the correct answers:*
# 1. Tree with default max_depth and random_state=0 gives better quality than forest with 
#     random_state=10 by 0.002
# 2. A forest of three trees is better than a forest at default values
# 3. Forest at max_depth=10 and other default values â€‹â€‹does not predict anything
# 4. Forest at max_depth=10 and min_samples_leaf=100 works best

#### Question 8

In [ ]:
# (8) What feature should be made from emp_length and another categorical feature 
# with 15 or fewer categories to have the highest default rate?
# Consider that we make a decision on at least 100 observations.*
# if emp_length=='8 years' & home_ownership=='RENT'
# if emp_length=='4 years' & purpose=='small_business'
# if emp_length=='1 year' & term=='60 months'
# if emp_length=='3 years' & verification_status=='Verified'

#### Question 9

In [ ]:
# (9) In further questions, we will use the original X_train, y_train. Let's divide them into 
# training and test sets: X_train2, X_test2, y_train2, y_test2 = 
#     train_test_split(X_train, y_train, test_size=0.33, random_state=100). 

# Choose the correct answers:*
# 1. catboost with iterations=80 and other default parameters, 
#     works worse than a forest, but better than trees, if we compare models from previous questions
# 2. catboost with iterations=80 and other default parameters is better than lightgbm with 
#     default parameters
# 3. xgboost with parameters n_estimators=250, learning_rate=0.10, colsample_bytree=0.70, 
#     max_depth=3 is better than lightgbm with default parameters
# 4. xgboost with n_estimators=250, learning_rate=0.10, colsample_bytree=0.70, max_depth=3 
#     is better than catboost with iterations=80 and other default parameters

#### Question 10

In [ ]:
# (10) Using the data for catboost from the previous question, compare a model trained 
# with default parameters and iterations=80 on all data and models trained on a particular 
# year's data.

# Do I need to build a separate catboost model for each year? Mark the correct answer.*
# Yes, because for a particular year, always more accurate predictions
# No, because a model built on all the data always beats a model built only on a part
# No, because the model for a specific year always predicts a specific year worse than 
#   the general model
# Depends, because some years are special and you need to take this into account when 
#   choosing a model. In our data, there are about 1 out of 5 such years.