In [1]:
from datetime import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

In [2]:
# Load the loan dataset
X_train = pd.read_csv("raw_data\X_train.csv")

In [5]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199861 entries, 0 to 1199860
Data columns (total 45 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   index                       1199861 non-null  int64
 1   acc_now_delinq              1199861 non-null  float64
 2   addr_state                  1199861 non-null  object
 3   annual_inc                  1199861 non-null  float64
 4   chargeoff_within_12_mths    1199824 non-null  float64
 5   collections_12_mths_ex_med  1199824 non-null  float64
 6   delinq_2yrs                 1199861 non-null  float64
 7   dti                         1199861 non-null  float64
 8   earliest_cr_line            1199861 non-null  object
 9   emp_length                  1128114 non-null  object
 10  fico_range_high             1199861 non-null  float64
 11  fico_range_low              1199861 non-null  float64
 12  funded_amnt                 1199861 non-null  float64
 13  home_ownership              1199861 non-null  object
 14  inq_last_12m                632646 non-null   float64
 15  installment                 1199861 non-null  float64
 16  int_rate                    1199861 non-null  object
 17  issue_d                     1199861 non-null  object
 18  loan_amnt                   1199861 non-null  float64
 19  mort_acc                    1168320 non-null  float64
 20  mths_since_last_delinq      592418 non-null   float64
 21  mths_since_recent_bc_dlq    282665 non-null   float64
 22  mths_since_recent_inq       1050080 non-null  float64
 23  num_accts_ever_120_pd       1154852 non-null  float64
 24  num_actv_bc_tl              1154852 non-null  float64
 25  num_rev_accts               1154851 non-null  float64
 26  num_sats                    1162566 non-null  float64
 27  num_tl_120dpd_2m            1109253 non-null  float64
 28  num_tl_30dpd                1154852 non-null  float64
 29  num_tl_90g_dpd_24m          1154852 non-null  float64
 30  num_tl_op_past_12m          1154852 non-null  float64
 31  open_acc                    1199861 non-null  float64
 32  open_il_24m                 632647 non-null   float64
 33  open_rv_24m                 632647 non-null   float64
 34  percent_bc_gt_75            1155527 non-null  float64
 35  pub_rec                     1199861 non-null  float64
 36  pub_rec_bankruptcies        1199394 non-null  float64
 37  purpose                     1199861 non-null  object
 38  revol_util                  1199020 non-null  object
 39  tax_liens                   1199833 non-null  float64
 40  term                        1199861 non-null  object
 41  title                       1186061 non-null  object
 42  total_acc                   1199861 non-null  float64
 43  verification_status         1199861 non-null  object
 44  zip_code                    1199860 non-null  object
dtypes: float64(32), int64(1), object(12)
memory usage: 411.9+ MB

In [15]:
# condition state = connecticut
condition = (X_train['addr_state'] == 'CT') & (X_train['zip_code'])
connecticut = X_train.loc[condition]
connecticut = connecticut.loc[:, ['addr_state', 'zip_code']]
connecticut

        addr_state zip_code
98              CT    064xx
193             CT    060xx
218             CT    064xx
277             CT    067xx
324             CT    060xx
...            ...      ...
1199284         CT    064xx
1199364         CT    063xx
1199390         CT    060xx
1199451         CT    060xx
1199818         CT    060xx

[18171 rows x 2 columns]

In [17]:
X_train['purpose'].value_counts() #.unique() #.nunique()

debt_consolidation    684522
credit_card           268419
home_improvement       78972
other                  73218
major_purchase         26885
medical                14327
small_business         13462
car                    13214
vacation                8686
moving                  8423
house                   7143
wedding                 1555
renewable_energy         827
educational              208
Name: purpose, dtype: int64

In [18]:
X_train.corr()

,index,acc_now_delinq,annual_inc,chargeoff_within_12_mths,collections_12_mths_ex_med,delinq_2yrs,dti,fico_range_high,fico_range_low,funded_amnt,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,open_acc,open_il_24m,open_rv_24m,percent_bc_gt_75,pub_rec,pub_rec_bankruptcies,tax_liens,total_acc
index,1.000000,0.000937,0.000753,-0.000880,0.000417,0.002134,-0.000775,-0.001722,-0.001723,0.000218,...,0.001102,-0.000043,0.001166,0.001154,0.001656,0.000655,0.000249,-0.000603,0.001093,0.000078
acc_now_delinq,0.000937,1.000000,0.005950,0.035715,0.013021,0.118874,0.004890,-0.039446,-0.039446,0.001224,...,0.052830,-0.006497,0.018514,-0.007412,-0.003624,-0.017659,0.000329,-0.009722,0.007829,0.025790
annual_inc,0.000753,0.005950,1.000000,0.003787,-0.003220,0.020794,-0.089276,0.036357,0.036358,0.169481,...,0.003164,0.027134,0.072762,0.049260,-0.006135,-0.006069,-0.003612,-0.023770,0.019584,0.092520
chargeoff_within_12_mths,-0.000880,0.035715,0.003787,1.000000,0.039861,0.144410,-0.002343,-0.053685,-0.053686,-0.002102,...,0.216124,0.001849,0.006941,-0.000527,0.004432,-0.010978,-0.003795,-0.010437,-0.000927,0.041557
collections_12_mths_ex_med,0.000417,0.013021,-0.003220,0.039861,1.000000,0.068307,-0.004601,-0.071823,-0.071824,-0.019071,...,0.100378,0.012266,0.008088,-0.007490,0.018646,-0.030928,0.012264,-0.002214,0.012032,0.004388
delinq_2yrs,0.002134,0.118874,0.020794,0.144410,0.068307,1.000000,-0.012259,-0.176767,-0.176769,-0.003309,...,0.658353,-0.025911,0.050699,-0.027463,-0.046214,-0.004675,-0.021959,-0.049365,0.011012,0.117736
dti,-0.000775,0.004890,-0.089276,-0.002343,-0.004601,-0.012259,1.000000,-0.072275,-0.072272,0.021245,...,-0.017793,0.083563,0.299783,0.257680,0.028099,0.168933,-0.040490,-0.024900,-0.029085,0.238391
fico_range_high,-0.001722,-0.039446,0.036357,-0.053685,-0.071823,-0.176767,-0.072275,1.000000,1.000000,0.095587,...,-0.103244,-0.084047,0.022428,0.006330,-0.127526,-0.418789,-0.190066,-0.197647,-0.059441,0.025295
fico_range_low,-0.001723,-0.039446,0.036358,-0.053686,-0.071824,-0.176769,-0.072272,1.000000,1.000000,0.095588,...,-0.103245,-0.084044,0.022429,0.006333,-0.127525,-0.418793,-0.190069,-0.197649,-0.059441,0.025296
funded_amnt,0.000218,0.001224,0.169481,-0.002102,-0.019071,-0.003309,0.021245,0.095587,0.095588,1.000000,...,-0.020730,-0.019437,0.186427,0.029351,-0.015241,0.024636,-0.059670,-0.087055,0.009023,0.209557
inq_last_12m,0.000163,-0.003741,0.031004,0.009761,0.015131,0.025843,0.040324,-0.112987,-0.112986,0.020729,...,0.017080,0.460799,0.186020,0.283812,0.295355,-0.114330,0.083759,0.099473,0.018267,0.218724
installment,0.000559,0.003608,0.164026,-0.000148,-0.015143,0.006176,0.027731,0.046716,0.046716,0.952603,...,-0.015201,-0.000400,0.176209,0.030912,0.003912,0.043756,-0.048702,-0.079551,0.015680,0.186162
loan_amnt,0.000182,0.001179,0.169509,-0.002159,-0.019149,-0.003443,0.020898,0.096181,0.096181,0.999688,...,-0.020728,-0.019434,0.186188,0.029351,-0.015241,0.024641,-0.059841,-0.087193,0.008929,0.209586
mort_acc,-0.000256,0.024693,0.111504,0.028860,-0.012565,0.073246,-0.032955,0.093802,0.093800,0.224638,...,0.029909,0.060162,0.127815,0.101817,-0.042855,0.011100,-0.008086,-0.000697,-0.009447,0.367398
mths_since_last_delinq,-0.000826,-0.137257,-0.026887,-0.102145,-0.040323,-0.554335,0.012914,0.099083,0.099083,-0.017675,...,-0.226639,0.088696,-0.038062,0.059329,0.093354,0.004013,0.078574,0.112130,0.004581,-0.043346
mths_since_recent_bc_dlq,-0.001838,-0.106278,-0.020573,-0.051178,-0.011024,-0.473506,0.014973,0.005618,0.005618,-0.035190,...,-0.163533,0.110984,-0.014550,0.076808,0.129342,0.028456,0.093384,0.109263,0.009313,0.009424
mths_since_recent_inq,-0.001113,0.003579,-0.021420,-0.007452,-0.010567,-0.027081,0.004478,0.071312,0.071311,-0.001688,...,-0.023409,-0.291210,-0.105130,-0.134991,-0.180751,0.083049,-0.051610,-0.058445,-0.012115,-0.125704
num_accts_ever_120_pd,0.000311,0.019744,0.006677,0.121201,0.044228,0.215287,-0.043988,-0.197339,-0.197341,-0.050380,...,0.308820,0.078692,0.023106,0.028271,0.072135,-0.026001,0.016108,-0.029203,0.011410,0.148064
num_actv_bc_tl,0.000692,-0.006340,0.057867,-0.008739,-0.005702,-0.039602,0.182461,-0.110418,-0.110418,0.200268,...,-0.033040,0.164841,0.550471,-0.017731,0.334092,0.035515,-0.033320,-0.059276,0.010399,0.300542
num_rev_accts,0.000029,0.023582,0.053678,0.040519,-0.002299,0.077630,0.147154,0.024310,0.024311,0.175091,...,0.028176,0.305953,0.659202,0.079165,0.474607,-0.113840,0.019504,0.052299,-0.016682,0.764384
num_sats,0.001042,0.008352,0.071202,0.005429,0.005986,0.046420,0.295008,0.034872,0.034874,0.183969,...,0.008574,0.369454,0.998849,0.248776,0.464243,-0.093642,-0.024488,-0.027250,-0.008102,0.705095
num_tl_120dpd_2m,0.001629,0.392290,0.002379,0.037949,0.001807,0.045251,-0.004647,-0.015919,-0.015919,-0.000978,...,0.071370,-0.004931,0.004354,-0.005712,-0.001794,-0.007571,0.001329,-0.002444,0.001921,0.009992
num_tl_30dpd,0.000930,0.808886,0.005423,0.000846,-0.000313,0.100283,0.006241,-0.030950,-0.030951,0.002495,...,0.005184,-0.006415,0.015687,-0.006042,-0.005064,-0.012864,-0.003542,-0.012703,0.006703,0.020531
num_tl_90g_dpd_24m,0.001102,0.052830,0.003164,0.216124,0.100378,0.658353,-0.017793,-0.103244,-0.103245,-0.020730,...,1.000000,-0.003094,0.010537,-0.022116,-0.021382,-0.009025,-0.003381,-0.011101,0.001227,0.068833
num_tl_op_past_12m,-0.000043,-0.006497,0.027134,0.001849,0.012266,-0.025911,0.083563,-0.084047,-0.084044,-0.019437,...,-0.003094,1.000000,0.371240,0.433523,0.661089,-0.178593,0.080573,0.093096,0.014174,0.333031
open_acc,0.001166,0.018514,0.072762,0.006941,0.008088,0.050699,0.299783,0.022428,0.022429,0.186427,...,0.010537,0.371240,1.000000,0.247707,0.466157,-0.093532,-0.016562,-0.017282,-0.006353,0.707921
open_il_24m,0.001154,-0.007412,0.049260,-0.000527,-0.007490,-0.027463,0.257680,0.006330,0.006333,0.029351,...,-0.022116,0.433523,0.247707,1.000000,0.083116,-0.068586,0.032881,0.050038,0.000633,0.355779
open_rv_24m,0.001656,-0.003624,-0.006135,0.004432,0.018646,-0.046214,0.028099,-0.127526,-0.127525,-0.015241,...,-0.021382,0.661089,0.466157,0.083116,1.000000,-0.166078,0.098563,0.111712,0.019068,0.316535
percent_bc_gt_75,0.000655,-0.017659,-0.006069,-0.010978,-0.030928,-0.004675,0.168933,-0.418789,-0.418793,0.024636,...,-0.009025,-0.178593,-0.093532,-0.068586,-0.166078,1.000000,-0.037538,-0.040276,-0.012609,-0.067261
pub_rec,0.000249,0.000329,-0.003612,-0.003795,0.012264,-0.021959,-0.040490,-0.190066,-0.190069,-0.059670,...,-0.003381,0.080573,-0.016562,0.032881,0.098563,-0.037538,1.000000,0.652069,0.699320,0.003358
pub_rec_bankruptcies,-0.000603,-0.009722,-0.023770,-0.010437,-0.002214,-0.049365,-0.024900,-0.197647,-0.197649,-0.087055,...,-0.011101,0.093096,-0.017282,0.050038,0.111712,-0.040276,0.652069,1.000000,0.034142,0.029357
tax_liens,0.001093,0.007829,0.019584,-0.000927,0.012032,0.011012,-0.029085,-0.059441,-0.059441,0.009023,...,0.001227,0.014174,-0.006353,0.000633,0.019068,-0.012609,0.699320,0.034142,1.000000,-0.019200
total_acc,0.000078,0.025790,0.092520,0.041557,0.004388,0.117736,0.238391,0.025295,0.025296,0.209557,...,0.068833,0.333031,0.707921,0.355779,0.316535,-0.067261,0.003358,0.029357,-0.019200,1.000000

In [19]:
print(X_train.columns)

Index(['index', 'acc_now_delinq', 'addr_state', 'annual_inc',
       'chargeoff_within_12_mths', 'collections_12_mths_ex_med', 'delinq_2yrs',
       'dti', 'earliest_cr_line', 'emp_length', 'fico_range_high',
       'fico_range_low', 'funded_amnt', 'home_ownership', 'inq_last_12m',
       'installment', 'int_rate', 'issue_d', 'loan_amnt', 'mort_acc',
       'mths_since_last_delinq', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'num_accts_ever_120_pd', 'num_actv_bc_tl',
       'num_rev_accts', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd',
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'open_acc', 'open_il_24m',
       'open_rv_24m', 'percent_bc_gt_75', 'pub_rec', 'pub_rec_bankruptcies',
       'purpose', 'revol_util', 'tax_liens', 'term', 'title', 'total_acc',
       'verification_status', 'zip_code'],
      dtype='object')

In [20]:
X_train.head()

,index,acc_now_delinq,addr_state,annual_inc,chargeoff_within_12_mths,collections_12_mths_ex_med,delinq_2yrs,dti,earliest_cr_line,emp_length,...,pub_rec,pub_rec_bankruptcies,purpose,revol_util,tax_liens,term,title,total_acc,verification_status,zip_code
0,0,0.0,UT,80000.0,0.0,0.0,0.0,30.49,Oct-1996,4 years,...,1.0,1.0,credit_card,56.1%,0.0,36 months,Credit card refinancing,26.0,Source Verified,847xx
1,1,0.0,CA,82000.0,0.0,0.0,0.0,7.00,Mar-1993,10+ years,...,1.0,1.0,credit_card,88.3%,0.0,36 months,Credit card refinancing,11.0,Not Verified,900xx
2,2,0.0,NV,46080.0,0.0,0.0,1.0,17.32,Nov-2000,3 years,...,0.0,0.0,credit_card,18.1%,0.0,36 months,Credit card refinancing,31.0,Source Verified,895xx
3,3,0.0,AZ,30000.0,0.0,0.0,0.0,7.80,Jan-2010,< 1 year,...,0.0,0.0,car,33.4%,0.0,36 months,Car financing,24.0,Source Verified,853xx
4,4,0.0,OH,70000.0,0.0,0.0,0.0,13.36,Jan-2002,< 1 year,...,0.0,0.0,other,88.6%,0.0,60 months,Other,16.0,Not Verified,453xx

#### find boolean columns

In [22]:
# find out which column in a pandas dataframe has two distinct values
def get_column_with_two_distinct_values(df: pd.DataFrame) -> str:
    """
    Returns the name of the column that has only two distinct values.
    """
    return df.columns[df.nunique() == 2][0]

In [23]:
print(get_column_with_two_distinct_values(X_train))

term

In [24]:
X_train['term'].value_counts() #.nunique

 36 months    903699
 60 months    296162
Name: term, dtype: int64

In [25]:
# num_cols = ['annual_inc', 'dti', 'fico_range_high', 'fico_range_low', 'loan_amnt',  'revol_util']

In [26]:
# X_train[num_cols]

In [27]:
if X_train.dtypes.all() == bool:
    print('The DataFrame is of boolean data type')

In [28]:
print('The data types of X_train are:\n', X_train.dtypes)

The data types of X_train are:
 index                           int64
acc_now_delinq                float64
addr_state                     object
annual_inc                    float64
chargeoff_within_12_mths      float64
collections_12_mths_ex_med    float64
delinq_2yrs                   float64
dti                           float64
earliest_cr_line               object
emp_length                     object
fico_range_high               float64
fico_range_low                float64
funded_amnt                   float64
home_ownership                 object
inq_last_12m                  float64
installment                   float64
int_rate                       object
issue_d                        object
loan_amnt                     float64
mort_acc                      float64
mths_since_last_delinq        float64
mths_since_recent_bc_dlq      float64
mths_since_recent_inq         float64
num_accts_ever_120_pd         float64
num_actv_bc_tl                float64
num_rev_accts                 float64
num_sats                      float64
num_tl_120dpd_2m              float64
num_tl_30dpd                  float64
num_tl_90g_dpd_24m            float64
num_tl_op_past_12m            float64
open_acc                      float64
open_il_24m                   float64
open_rv_24m                   float64
percent_bc_gt_75              float64
pub_rec                       float64
pub_rec_bankruptcies          float64
purpose                        object
revol_util                     object
tax_liens                     float64
term                           object
title                          object
total_acc                     float64
verification_status            object
zip_code                       object
dtype: object

In [30]:
# select only columns with numeric data types
numeric_cols = X_train.select_dtypes(include=['int64', 'float64']).columns
numeric_cols
# or 
# df.select_dtypes(include=[np.number])

Index(['index', 'acc_now_delinq', 'annual_inc', 'chargeoff_within_12_mths',
       'collections_12_mths_ex_med', 'delinq_2yrs', 'dti', 'fico_range_high',
       'fico_range_low', 'funded_amnt', 'inq_last_12m', 'installment',
       'loan_amnt', 'mort_acc', 'mths_since_last_delinq',
       'mths_since_recent_bc_dlq', 'mths_since_recent_inq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_rev_accts', 'num_sats',
       'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
       'num_tl_op_past_12m', 'open_acc', 'open_il_24m', 'open_rv_24m',
       'percent_bc_gt_75', 'pub_rec', 'pub_rec_bankruptcies', 'tax_liens',
       'total_acc'],
      dtype='object')

In [31]:
non_numeric_cols = X_train.select_dtypes(exclude='number').columns
non_numeric_cols

Index(['addr_state', 'earliest_cr_line', 'emp_length', 'home_ownership',
       'int_rate', 'issue_d', 'purpose', 'revol_util', 'term', 'title',
       'verification_status', 'zip_code'],
      dtype='object')

In [32]:
non_numeric_cols.value_counts()

addr_state             1
earliest_cr_line       1
emp_length             1
home_ownership         1
int_rate               1
issue_d                1
purpose                1
revol_util             1
term                   1
title                  1
verification_status    1
zip_code               1
dtype: int64

In [33]:
X_train[non_numeric_cols]

,addr_state,earliest_cr_line,emp_length,home_ownership,int_rate,issue_d,purpose,revol_util,term,title,verification_status,zip_code
0,UT,Oct-1996,4 years,RENT,12.99%,Apr-2016,credit_card,56.1%,36 months,Credit card refinancing,Source Verified,847xx
1,CA,Mar-1993,10+ years,MORTGAGE,10.42%,Sep-2017,credit_card,88.3%,36 months,Credit card refinancing,Not Verified,900xx
2,NV,Nov-2000,3 years,MORTGAGE,8.99%,Aug-2016,credit_card,18.1%,36 months,Credit card refinancing,Source Verified,895xx
3,AZ,Jan-2010,< 1 year,OWN,11.53%,Aug-2015,car,33.4%,36 months,Car financing,Source Verified,853xx
4,OH,Jan-2002,< 1 year,RENT,26.30%,Sep-2017,other,88.6%,60 months,Other,Not Verified,453xx
...,...,...,...,...,...,...,...,...,...,...,...,...
1199856,IL,Feb-2002,4 years,RENT,15.31%,Jun-2012,debt_consolidation,82.1%,36 months,debt consolidation,Source Verified,604xx
1199857,NY,Jan-2002,3 years,RENT,6.03%,Nov-2013,credit_card,82.3%,36 months,Credit cards financing,Verified,106xx
1199858,MA,Nov-2002,8 years,OWN,11.99%,Dec-2015,home_improvement,6%,60 months,Home improvement,Source Verified,021xx
1199859,OH,Nov-1991,5 years,MORTGAGE,22.78%,Jun-2012,debt_consolidation,76.2%,60 months,Debt,Verified,454xx
1199860,TX,Sep-2007,2 years,RENT,21.67%,May-2015,home_improvement,37.3%,36 months,Home improvement,Not Verified,770xx

In [34]:
#count unique values in non_numeric_cols each column
print(X_train[non_numeric_cols].nunique())

addr_state                51
earliest_cr_line         748
emp_length                11
home_ownership             6
int_rate                 669
issue_d                  160
purpose                   14
revol_util              1316
term                       2
title                  43858
verification_status        3
zip_code                 936
dtype: int64

In [35]:
#count unique values in non_numeric_cols each column
print(X_train.nunique())

index                         1199861
acc_now_delinq                      7
addr_state                         51
annual_inc                      59051
chargeoff_within_12_mths           11
collections_12_mths_ex_med         13
delinq_2yrs                        32
dti                              4747
earliest_cr_line                  748
emp_length                         11
fico_range_high                    38
fico_range_low                     38
funded_amnt                      1562
home_ownership                      6
inq_last_12m                       45
installment                     81217
int_rate                          669
issue_d                           160
loan_amnt                        1562
mort_acc                           39
mths_since_last_delinq            167
mths_since_recent_bc_dlq          168
mths_since_recent_inq              26
num_accts_ever_120_pd              43
num_actv_bc_tl                     36
num_rev_accts                     111
num_sats                           83
num_tl_120dpd_2m                    6
num_tl_30dpd                        5
num_tl_90g_dpd_24m                 29
num_tl_op_past_12m                 32
open_acc                           83
open_il_24m                        28
open_rv_24m                        46
percent_bc_gt_75                  251
pub_rec                            35
pub_rec_bankruptcies               11
purpose                            14
revol_util                       1316
tax_liens                          36
term                                2
title                           43858
total_acc                         142
verification_status                 3
zip_code                          936
dtype: int64

In [36]:
max_interest_rate = X_train['int_rate'].max()
max_interest_rate

' 30.99%'

In [39]:
max_interest_rate = float(max_interest_rate.replace(" ", "").replace("%", "")) #.astype('int')
max_interest_rate

30.99

In [40]:
X_train['mths_since_recent_bc_dlq'].max() #.nunique() #.unique() #

198.0

#### Categorical Variables

In [41]:
categorical_cols = [col for col in X_train.columns if X_train[col].dtype == object]
# or
# categorical_cols = X_train.select_dtypes(include=['object','category'])
categorical_cols

['addr_state',
 'earliest_cr_line',
 'emp_length',
 'home_ownership',
 'int_rate',
 'issue_d',
 'purpose',
 'revol_util',
 'term',
 'title',
 'verification_status',
 'zip_code']

###### Numerical Variables

In [44]:
numerical_cols = X_train.select_dtypes(include='number').columns
numerical_cols

Index(['index', 'acc_now_delinq', 'annual_inc', 'chargeoff_within_12_mths',
       'collections_12_mths_ex_med', 'delinq_2yrs', 'dti', 'fico_range_high',
       'fico_range_low', 'funded_amnt', 'inq_last_12m', 'installment',
       'loan_amnt', 'mort_acc', 'mths_since_last_delinq',
       'mths_since_recent_bc_dlq', 'mths_since_recent_inq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_rev_accts', 'num_sats',
       'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
       'num_tl_op_past_12m', 'open_acc', 'open_il_24m', 'open_rv_24m',
       'percent_bc_gt_75', 'pub_rec', 'pub_rec_bankruptcies', 'tax_liens',
       'total_acc'],
      dtype='object')

In [45]:
# term mapping
X_train.term.unique()

array([' 36 months', ' 60 months'], dtype=object)

In [46]:
term_values = {' 36 months': 36, ' 60 months': 60}
X_train['term'] = X_train.term.map(term_values)

In [47]:
X_train.term.unique()

array([36, 60], dtype=int64)

In [48]:
X_train.zip_code.value_counts()

945xx    12979
750xx    12823
112xx    12605
606xx    11289
300xx    11150
         ...
513xx        1
528xx        1
521xx        1
205xx        1
516xx        1
Name: zip_code, Length: 936, dtype: int64

#### Check for duplicates columns & features

In [50]:
# Remove duplicate Features
# X_train = X_train.T.drop_duplicates()
# df = df.loc[:,~df.columns.duplicated()].copy()
X_train = X_train.loc[:,~X_train.columns.duplicated()].copy()

## Train Test Split

#### Note: there is no target variable

## Removing Outliers

In [53]:
# print(X_train[X_train['dti'] <= 50].shape)
# print(X_train.shape)

In [54]:
X_train['dti'].unique()

array([30.49,  7.  , 17.32, ..., 43.3 , 49.03, 44.41])

In [55]:
X_train['dti'].nunique()

4747

In [56]:
X_train[X_train['dti'] <= 50].shape

(1199861, 45)

##### find duplicate rows across all columns

In [57]:
duplicateRows = X_train[X_train.duplicated()]
duplicateRows

Empty DataFrame
Columns: [index, acc_now_delinq, addr_state, annual_inc, chargeoff_within_12_mths, collections_12_mths_ex_med, delinq_2yrs, dti, earliest_cr_line, emp_length, fico_range_high, fico_range_low, funded_amnt, home_ownership, inq_last_12m, installment, int_rate, issue_d, loan_amnt, mort_acc, mths_since_last_delinq, mths_since_recent_bc_dlq, mths_since_recent_inq, num_accts_ever_120_pd, num_actv_bc_tl, num_rev_accts, num_sats, num_tl_120dpd_2m, num_tl_30dpd, num_tl_90g_dpd_24m, num_tl_op_past_12m, open_acc, open_il_24m, open_rv_24m, percent_bc_gt_75, pub_rec, pub_rec_bankruptcies, purpose, revol_util, tax_liens, term, title, total_acc, verification_status, zip_code]
Index: []

[0 rows x 45 columns]

In [58]:
# Remove Duplicate Rows
X_train.drop_duplicates(inplace=True)